.page {
	display: grid;
	grid-template-rows: 40px 1fr;
	grid-row-gap: 10px;
	height: 100%;
}

.header {
	display: grid;
	justify-items: left;
	justify-content: stretch;
}

.main-container {
	display: grid;
	grid-column-gap: 10px;
	padding: 0 10px 10px 10px;
	grid-template-columns: auto 1fr auto;
}

.main-content {
	display: grid;
	height: calc(100vh - 60px); //header size + 10px margin + 10px margin
	overflow: hidden;
}

.main-content-card {
	height: inherit;
	padding: 0 16px;
}

.left-menu {
	display: grid;
	align-items: stretch;
	// align-content: stretch;
}

.right-menu {
	display: grid;
	align-items: stretch;
}

// :host {
// 	height: 100%;
// }
